body {
    background: #DDD;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 90%;
    width: 70%;
}

canvas {
    margin-left: 24px;
    background: #EEE;
    border: thin solid #aaa;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

fieldset {
    width: 570px;
    margin-left: 24px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 24px;
}

label {
    width: 200px;
}
#level {
    width: 80px;
    height: 40px;
    color: #E2DFDB;
    background: #9C2F2F;
    border-radius: 4px;
    font-size: 24px;
}

#play-button, #watch-button {
    background:rgba(255,255,255,0.2);
    font-size: 24px;
    border:none;
    border-radius:10px;
    box-shadow:rgba(0,0,0,0.3) 4px 4px 0px 0px;
    padding:6px;
}